    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">index</a></li>
          <li><a class="navbar-link" href="{% url 'setcookienumber' %}">set cookie</a></li>
          <li><a class="navbar-link" href="{% url 'setsession' %}">set session</a></li>
          <li><a class="navbar-link" href="{% url 'languagedisp' %}">語系切換</a></li>
          <li><a class="navbar-link" href="{% url 'memorycachetest' %}">Memory cache value</a></li>
          <li><a class="navbar-link" href="{% url 'newspage' %}">Memory cache page</a></li>
        </ul>
      </div>
    </nav>